<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{history.title}"></title>
    <style>
        h3, h4 {
            display: inline;
        }
    </style>
</head>
<body>
<ul th:each="note: ${notes}">
    <li>
        <h3 th:text="${note.heading} + ': '"></h3>
        <h4 th:text="${note.text}"></h4>
        <br>
        <b th:text="#{note.lastChangeAt} + ':'"></b>
        <u th:text="${#temporals.format(note.lastEditDateTime, 'yyyy-MMM-dd HH:mm:ss.SSSSSS')}"></u>
    </li>
</ul>
<br>
<a href="/note/" th:text="#{back}"></a>
</body>
</html>