<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <style>
        h3, h4 {
            display: inline;
        }
    </style>
</head>
<body>
<h1>Notes</h1>
<hr>
<a href="/note/new">Create a new note</a>
<ul th:each="note: ${notes}">
    <li>
        <h3 th:text="${note.value.heading} + ': '">Heading</h3>
        <h4 th:text="${note.value.text}">Text</h4>
        <br>
        Created at:
        <u th:text="${note.value.creationDateTime}">Creation date time</u>
        , last change at:
        <u th:text="${note.value.lastEditDateTime}">Last edit date time</u>
        <p>
            <a th:href="'/note/edit/' + ${note.key}">Edit</a>
            or
            <a th:href="'/note/delete/' + ${note.key}">Delete</a>
        </p>
    </li>
</ul>
</body>
</html>